<div class="container-fluid">
  <div class="jumbotron jumbotron-fluid col-sm-12">
    <div class="col-sm-6 nopadding" >
      <h1>Addresses <strong class="text-primary">{{$resolve.address.name}}</strong> </h1>

    </div>
        <!-- <h1 class="text-right"> -->
          <div class="btn-group col-sm-6 nopadding">
            <h1 class="text-right">

            <button class="btn btn-link" ui-sref="addresses.list"><i class="fa fa-arrow-left fa-lg text-muted"></i></button>
            <button class="btn btn-link" ui-sref="addresses.edit({addressId:$resolve.addressId})" ><i class="fa fa-pencil fa-lg text-primary"></i></button>
            <button class="btn btn-link" ng-click="$ctrl.deleteAddress($resolve.address)"><i class="fa fa-trash fa-lg text-danger"></i></button>
            </h1>
          </div>
        </div>

        <div class="col-sm-12 jumbotron "style="background-color:rgb(250,250,250)">

            <form >
              <div class="col-sm-6">
                <label for="name" >Customer Name</label>
                <input type="text" class="form-control" id="name" ng-model="$resolve.address.name"ng-disabled="true">
              </div>
              <div class="col-sm-6">
                <label for="mobilenumber" >Mobile Number</label>
                <input type="number" class="form-control" id="mobilenumber" ng-model="$resolve.address.mobilenumber"ng-disabled="true">
              </div>
              <div class="col-sm-6">
                <label for="locality"style="padding-top:8px">Locality</label>
                <input type="text" class="form-control"  id="locality" ng-model="$resolve.address.locality" ng-disabled="true">
              </div>
              <div class="col-sm-12">
                <label for="address"style="padding-top:8px">Address</label>
                <textarea type="text" class="form-control"  id="address" ng-model="$resolve.address.address" ng-disabled="true"></textarea>

              </div>
              <div class="col-sm-6">
                <label for="city"style="padding-top:8px">City</label>
                <input type="text" class="form-control"  id="city" ng-model="$resolve.address.city" ng-disabled="true">

              </div>
              <div class="col-sm-6">
                <label for="state"style="padding-top:8px">State</label>
                <input type="text" class="form-control"  id="state" ng-model="$resolve.address.state"ng-disabled="true" >

              </div>
              
            </form>

    </div>
  </div>
