<div class="container-fluid">
    <div class="col-sm-12 jumbotron jumbotron-fluid">
      <div class="col-sm-6 nopadding">
      <h1> Role:<strong class="text-primary">{{$resolve.product.title}}</strong></h1>
        </div>
        <!-- <small>  {{$resolve.product.productId}}</small> -->

    <div class="col-sm-6 jumbotron jumbotron-fluid btn-group nopadding">
      <h1 class="text-right">
          <button class="btn btn-link" ui-sref="products.list"><i class="fa fa-arrow-left fa-lg text-muted"></i></button>
          <button class="btn btn-link" ui-sref="products.edit({productId:$resolve.productId})" ><i class="fa fa-pencil fa-lg text-primary"></i></button>
          <button class="btn btn-link" ng-click="$ctrl.deleteproduct($resolve.product)"><i class="fa fa-trash fa-lg text-danger"></i></button>
      </h1>
    </div>
  </div>
    <div class="col-sm-12 jumbotron "style="background-color:rgb(250,246,250)">
      <form>
        <div class="col-sm-12">
          <label for="title">product Name</label>
          <input type="text" class="form-control" id="name" ng-model="$resolve.product.name" ng-disabled="true">
        </div>
        <div class="col-sm-12">
          <label for="description">product Description</label>
          <textarea type="text" class="form-control" id="description" ng-model="$resolve.product.description" ng-disabled="true"></textarea>

        </div>
        <div class="col-sm-6">
          <label for="keywords">Quantity</label>
          <input type="number" class="form-control"  id="quantity" ng-model="$resolve.product.quantity" ng-disabled="true"></input>

        </div>
        <div class="col-sm-6">
          <label for="cn">Size</label>
          <input type="number" class="form-control"  id="size" ng-model="$resolve.product.size" ng-disabled="true"></input>

        </div>
        <div class="col-sm-6">
          <label for="annual">Model</label>
          <input type="text" class="form-control"  id="model" ng-model="$resolve.product.model" ng-disabled="true"></input>

        </div>
        <div class="col-sm-6">
          <label for="nov">Price</label>
          <input type="number" class="form-control"  id="price" ng-model="$resolve.product.price" ng-disabled="true"></input>


        </div>



      </form>
    </div>


</div>
