<div class="container-fluid">
  <div class="jumbotron jumbotron-fluid col-sm-12">
    <div class="col-sm-6">
      <h3> Role:<strong class="text-capitalize">{{$resolve.product.name}}</strong</h3>
        <!-- <small>  {{$resolve.productId}}</small></h1> -->
    </div>
    <div class="col-sm-6">
      <h1 class="text-right">
        <div class="btn-group">
          <button class="btn btn-link" ui-sref="products.list"><i class="fa fa-arrow-left fa-lg text-muted"></i></button>
          <!-- <button class="btn btn-link" ><i class="fa fa-pencil fa-lg text-primary"></i></button> -->
          <!-- <button class="btn btn-link" ng-click="$ctrl.deleteproduct($resolve.product)"><i class="fa fa-trash fa-lg text-danger"></i></button> -->
        </div>
      </h1>
    </div>
  </div>

  <div class="col-sm-12 jumbotron">
    <form name="myForm">
      <div class="col-sm-12">
        <label for="title"><span class="required"> Product Name</span></label>
        <input type="text" class="form-control" id="name" name="name" ng-model="$resolve.product.name" ng-required="true">
        <span style="color:red" ng-if="myForm.title.$error.required && $ctrl.submitted">Name is required.</span>
      </div>
      <div class="col-sm-12">
        <label for="description">Product Description</label>
        <!-- <textarea type="text" class="form-control" id="description" name="description" ng-model="$resolve.product.description" ng-required="true" ></textarea> -->
        <!-- <span style="color:red" ng-if="myForm.description.$error.required && $resolve.submitted">description is required.</span> -->
        <ng-quill-editor id="description" name="description" ng-model="$resolve.product.description">
          <div class="ql-toolbar ql-snow"></div>
        </ng-quill-editor >

      </div>
      <div class="col-sm-6">
        <label for="keywords"><span class="required">Quantity</span></label>
        <input type="text" class="form-control"  id="quantity" name="quantity" ng-model="$resolve.product.quantity" ng-required="true"></input>
        <span style="color:red" ng-if="myForm.Keyword.$error.required && $ctrl.submitted">quantity is required.</span>

      </div>
      <div class="col-sm-6">
        <label for="cn"><span class="required">Size</span></label>
        <input type="text" class="form-control"  id="size" name="size" ng-model="$resolve.product.size" ng-required="true"></input>
        <span style="color:red" ng-if="myForm.cn.$error.required && $ctrl.submitted">Size is required.</span>
      </div>
      <div class="col-sm-6">
        <label for="annual"><span class="required">Model</span></label>
        <input type="number" class="form-control"  name="model" id="model" ng-model="$resolve.product.model" ng-required="true"></input>
        <span style="color:red" ng-if="myForm.annual.$error.required && $ctrl.submitted">Model is required.</span>


      </div>
      <div class="col-sm-6">
        <label for="nov"><span class="required">Price</span></label>
        <input type="number" class="form-control"  name="price" id="price" ng-model="$resolve.product.price" ng-required="true"></input>
        <span style="color:red" ng-if="myForm.price.$error.required && $ctrl.submitted">price is required.</span>

      </div>

        </form>
    <div  class="col-sm-12" class="form-group" style="margin:12px">
      <div class="btn-group pull-right">
        <button type="button" class="btn btn-default" ui-sref="products.list" >Discard</button>
        <button type="submit" class="btn btn-primary" ng-click="$ctrl.updateproduct(myForm,$resolve.product)">Save</button>
      </div>
    </div>
  </div>
</div>
