<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <h1> Countries <span class="badge"> {{$ctrl.countries.length}}</span></h1>
    </div>
    <div class="col-sm-6">
      <h1 class="text-right"><button class="btn btn-link" ui-sref="countries.new"><i class="fa fa-plus fa-lg text-primary"></i></button></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4" ng-repeat="country in $ctrl.countries">
      <div class=" panel panel-default">
        <div class="text-center panel-body">
          <h3 class="text-capitalize text-primary">{{country.name}}</h3>
          <p class="lead">{{country.name}}</p>
          <p class="lead">{{country.code}}</p>
          <!-- <p class="lead">{{country.primaryemail}}</p>
          <p class="lead">{{country.mobile}}</p> -->
          <a class=" panel-footer btn btn-link" ui-sref="countries.info({countryId:  country._id})"  uib-tooltip="{{country.name}}">Info</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" ng-if="!$ctrl.countries.length">
  <div class="row text-center">
    <h1 class="text-warning">Ooops!</h1>
    <p class="text-muted lead">No data to display.</p>
  </div>
</div>
