<div class="container">
  <div class="col-sm-12">
    <!-- <h1 > Hey <strong class="text-capitalize">{{$ctrl.getCurrentUser().name}}</strong>! <br> -->
      <h1><div class="page-header" style="color:green;" class="text-center">{{$ctrl.message}}</div></h1>
  </div>

<div class="col-sm-12 jumbotron">
  <form name="myForm">
    <!-- <div  class="col-sm-12" class="form-group">
      <label for="title" class="text-muted"><span class="required"> product Title</span></label>
      <input type="text" class="form-control" id="title" name="title" ng-model="$ctrl.newproduct.title" placeholder="product title here." ng-required ="true">
      <span style="color:red" ng-if="myForm.title.$error.required && $ctrl.submitted">Title is required.</span>
    </div> -->

    <div  class="col-sm-6" class="form-group">
      <label for="cn" class="text-muted"><span class="required"> Product_Name</span></label>
      <input type="text" class="form-control"  id="cn" name="cn" ng-model="$ctrl.newproduct.name" placeholder="company-name" ng-required ="true">
      <span style="color:red" ng-if="myForm.cn.$error.required && $ctrl.submitted">Product_Name is required.</span>

      <div class="col-sm-12" class="form-group">
        <label for="description" class="text-muted"><span class="required"> Product Description</span></label>
        <ng-quill-editor  id="description" name="description" ng-model="$ctrl.newjob.description" placeholder="Enter description." ng-required ="true">
          <div class="ql-toolbar ql-snow"></div>
        </ng-quill-editor>
        <span style="color:red" ng-if="myForm.description.$error.required && $ctrl.submitted">description is required.</span>
        <!-- <span style="color:red" ng-show="myForm.descrip.$error.maxlength">Not exceed 300 characters.</span> -->

      </div>
      
    </div>

    <div  class="col-sm-6" class="form-group">
      <label for="annual" class="text-muted"><span class="required">Quantity</span></label>
      <input type="number" class="form-control"  id="annual" name="annual" ng-model="$ctrl.newproduct.quantity" placeholder="Quantity." ng-required ="true">
      <span style="color:red" ng-if="myForm.annual.$error.required && $ctrl.submitted">Quantity is required.</span>

    </div>

    <div  class="col-sm-6" class="form-group">
      <label for="nov" class="text-muted"><span class="required">Size</span></label>
      <input type="text" class="form-control"  id="nov" name="nov" ng-model="$ctrl.newproduct.size" placeholder="Size." ng-required ="true">
        <span style="color:red" ng-if="myForm.nov.$error.required && $ctrl.submitted">Size is required.</span>
    </div>

    <div  class="col-sm-6" class="form-group">
      <label for="np" class="text-muted"><span class="required">Model</span></label>
      <input type="text" class="form-control"  id="np" name="np" ng-model="$ctrl.newproduct.model" placeholder="Enter Model." ng-required ="true">
        <span style="color:red" ng-if="myForm.np.$error.required && $ctrl.submitted">Model is required.</span>
    </div>

    <div class="col-sm-6" class="form-group">
      <label for="location" class="text-muted"><span class="required">Price</span></label>
      <input type="number" class="form-control"  id="location" name="location" ng-model="$ctrl.newproduct.price" placeholder="Select Location" ng-required ="true">
      <span style="color:red" ng-if="myForm.location.$error.required && $ctrl.submitted">Price is required.</span>
    </div>



    <div  class="col-sm-12" class="form-group" style="margin:12px">
      <div class="btn-group pull-right">
        <button type="button" class="btn btn-default" ui-sref="products.list" >Discard</button>
        <button type="submit" class="btn btn-primary" ng-click="$ctrl.addproduct(myForm)">Post product</button>
      </div>
    </div>
</div>
</div>
