<div class="container-fluid">
  <div class=" jumbotron jumbotron-fluid col-sm-12">
    <div class="col-sm-6">
      <h1> Address:<strong class="text-primary">{{$resolve.address.name}}</strong></h1>
    </div>
    <div class="col-sm-6">
      <h1 class="text-right">
        <div class="btn-group">
          <button class="btn btn-link" ui-sref="addresses.list"><i class="fa fa-arrow-left fa-lg text-muted"></i></button>
        </div>
      </h1>
    </div>
  </div>
  <div class="col-sm-12 jumbotron">
    <form name="myForm">
      <div class="col-sm-6">
        <label for="name" style="padding-top:8px"><span class="required">Customer Name</span></label>
        <input type="text" class="form-control" name="name" id="name" ng-model="$resolve.address.name" placeholder="Name of the address here." ng-required ="true">
        <span style="color:red" ng-if="myForm.name.$error.required && $ctrl.submitted">Company Name is required.</span>
      </div>
      <div class="col-sm-6">
        <label for="mobilenumber" style="padding-top:8px"><span class="required">Mobile Number</span></label>
        <input type="number" class="form-control" id="mobilenumber" name="mobilenumber" ng-model="$resolve.address.mobilenumber" placeholder="mobilenumber" ng-required ="true">
        <span style="color:red" ng-if="myForm.mobilenumber.$error.required && $ctrl.submitted">Comapany ID is required </span>
      </div>
      <div class="col-sm-6">
        <label for="pincode" style="padding-top:8px"><span class="required">Pincode</span></label>
        <input type="number" class="form-control"name="pincode"  id="pincode" ng-model="$resolve.address.pincode" placeholder="pincode" ng-required ="true" ng-maxlength="5">
        <span style="color:red" ng-if="myForm.pincode.$error.required && $ctrl.submitted">pincode</span>
        <span style="color:red" ng-if="myForm.pincode.$error.maxlength">please a valid pincode.</span>
      </div>
      <div class="col-sm-12">
        <label for="address" style="padding-top:8px">Address</span></label>
        <ng-quill-editor  id="address" name="address"ng-model="$resolve.address.address" placeholder="Enter address">
          <div class="ql-toolbar ql-snow"></div>
        </ng-quill-editor>
      </div>

      <div class="col-sm-6">
        <label for="city" style="padding-top:8px"><span class="required">City</span></label>
        <input type="text" class="form-control"name="city"  id="city" ng-model="$resolve.address.city" ng-required="true">
        <span style="color:red" ng-if="myForm.city.$error.required && $ctrl.submitted"> city Size is Required</span>
      </div>

      <div class="col-sm-12">
        <div class="btn-group pull-right"style="margin:20px">
          <button type="button" class="btn btn-default" ui-sref="addresses.list" >Discard</button>
          <button type="submit" class="btn btn-primary" ng-click="$ctrl.updateAddress(myForm, $resolve.address)">Save</button>
        </div>
      </div>
    </form>
</div>

</div>
