<div class="container-fluid">
  <uib-tabset active="activeJustified" justified="true">
    <uib-tab index="1" heading="Basic Information ">
      <div class="col-sm-12 jumbotron">
        <!-- <h3>Basic Information:</h3> -->
        <form name="myForm">
          <div class="col-sm-6">
            <!-- <div  class="col-sm-12" class="form-group"> -->
            <label for="title"id="info" class="text-muted"><span class="required"> Employee Id</span></label>
            <input type="text" class="form-control" id="title" name="empId" ng-model="$ctrl.newemployee.empId" placeholder="Employee Id." ng-required ="true">
            <span style="color:red" ng-if="myForm.empId.$error.required && $ctrl.submitted">Id required.</span>
          </div>
          <div class="col-sm-6">
            <label for="fathername" id="info"class="text-muted"><span class="required"> Father Name</span></label>
            <input type="text" class="form-control" id="fathername" name="fathername" ng-model="$ctrl.newemployee.fathername" placeholder="FatherName." ng-required ="true">
            <span style="color:red" ng-if="myForm.fathername.$error.required && $ctrl.submitted">fatherName required.</span>
          </div>
          <div class="col-sm-6">
            <label for="panId"id="info" class="text-muted"><span class="required"> Pan</span></label>
            <input type="text" class="form-control" id="panId" name="panId" ng-model="$ctrl.newemployee.panId" placeholder="pan id." ng-required ="true">
            <span style="color:red" ng-if="myForm.panId.$error.required && $ctrl.submitted">PanId required.</span>
          </div>
          <div class="col-sm-6">
            <label for="nationality" id="info"class="text-muted"><span class="required"> Nationality</span></label>
            <input type="text" class="form-control" id="nationality" name="nationality" ng-model="$ctrl.newemployee.nationality" placeholder="nationality." ng-required ="true">
            <span style="color:red" ng-if="myForm.nationality.$error.required && $ctrl.submitted">required.</span>
          </div>
          <div class="col-sm-6">
            <label for="title" id="info"class="text-muted"><span class="required"> Aadhaar Number</span></label>
            <input type="number" class="form-control" id="title" name="aadhar" ng-model="$ctrl.newemployee.aadhar" placeholder="aadhar." ng-required ="true">
            <span style="color:red" ng-if="myForm.aadhar.$error.required && $ctrl.submitted">aadhar required.</span>
          </div>
          <div class="col-sm-6">
            <label for="passport" id="info"class="text-muted"> Passport Number</label>
            <input type="text" class="form-control" id="passport" name="passport" ng-model="$ctrl.newemployee.passport" placeholder="passportnumber" ng-required ="true">
            <span style="color:red" ng-if="myForm.passport.$error.required && $ctrl.submitted">passportnumber required.</span>
          </div>
          <div class="col-sm-6">
            <label for="validfrom"id="info"class="text-muted">Valid From</label>
            <input type="date" ng-disabled="!$ctrl.newemployee.passport"class="form-control" name="validfrom" id="title" ng-model="$ctrl.newemployee.validfrom" ng-required ="true">
          </div>
          <div class="col-sm-6">
            <label for="validto"id="info"class="text-muted">Valid To</label>
            <input type="date" ng-disabled="!$ctrl.newemployee.passport"class="form-control" name="validto" id="title" ng-model="$ctrl.newemployee.validto" ng-required ="true">
          </div>
          <div class="col-sm-6">
            <label for="Marital" id="info"class="text-muted"><span class="required">Marital Status</span></label></br>
            <label><input type="radio" ng-model="$ctrl.newemployee.statusSingle" value="Single" />Single</label>
            <label><input type="radio" ng-model="$ctrl.newemployee.statusMarried" value="Married" />Married</label>
            <label><input type="radio" ng-model="$ctrl.newemployee.statusWidow" value="Widow" />Widow</label>
            <label><input type="radio" ng-model="$ctrl.newemployee.statusDivorce" value="Divorce" />Divorce</label><br />
            <span style="color:red" ng-if="myForm.status.$error.required && $ctrl.submitted">marital status required.</span>
          </div>
          <div class="col-sm-6" ng-if="$ctrl.newemployee.statusMarried=='Married'">
            <label for="Marital" id="info"class="text-muted"> Spouse Name</label>
            <input type="text" class="form-control" id="title" name="SpouseName" ng-model="$ctrl.newemployee.SpouseName" placeholder="Spouse Name." ng-required ="true">
          </div>
          <div class="col-sm-12">
            <label for="department"id="info"class="text-muted"><span class="required">Department</span></label>
            <ui-select name="department" ng-model="$ctrl.newemployee.department" theme="bootstrap">
              <ui-select-match placeholder="Select or search">{{$select.selected.name}}</ui-select-match>
              <ui-select-choices repeat="department in $ctrl.departments | filter: $select.search">
                <div ng-bind-html="department.name | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
            <span style="color:red" ng-if="myForm.department.$error.required && $ctrl.submitted">departments required.</span>
          </div>
          <div class="col-sm-12">
            <label for="designation"id="info"class="text-muted"><span class="required">Designation</span></label>
            <ui-select name="designation" ng-model="$ctrl.newemployee.designation" theme="bootstrap">
              <ui-select-match placeholder="Select or search">{{$select.selected}}</ui-select-match>
              <ui-select-choices repeat="designation in $ctrl.designations | filter: $select.search">
                <div ng-bind-html="designation | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
            <span style="color:red" ng-if="myForm.designation.$error.required && $ctrl.submitted">designation required.</span>
          </div>
          <div class="col-sm-12">
            <h4>Address:</h4>
            <div class="col-sm-6">
              <label for="Address"id="info"class="text-muted"><span class="required">Current Address</span></label>
              <textarea type="text" class="form-control" name="CurrentAddress" id="title" ng-model="$ctrl.newemployee.CurrentAddress" placeholder="address">
              </textarea>
              <span style="color:red" ng-if="myForm.CurrentAddress.$error.required && $ctrl.submitted">required.</span>
            </div>
            <div class="col-sm-6">
              <label for="Address"id="info"class="text-muted"><span class="required">Permanent Address</span></label>
              <textarea type="text" class="form-control" name="PermanentAddress" id="title" ng-model="$ctrl.newemployee.PermanentAddress" placeholder="address">
              </textarea>
              <span style="color:red" ng-if="myForm.PermanentAddress.$error.required && $ctrl.submitted">required.</span>
            </div>
            <div class="col-sm-6">
              <label for="Address"id="info"class="text-muted"><span class="required">Period of stay</span></label>
              <input type="date" class="form-control" name="Pos" id="title" ng-model="$ctrl.newemployee.Pos" placeholder="POS" ng-required ="true">
              <span style="color:red" ng-if="myForm.Pos.$error.required && $ctrl.submitted"> required.</span>
            </div>
            <div class="col-sm-6">
              <label for="Address"id="info"class="text-muted"><span class="required">Period of stay</span></label>
              <input type="date" class="form-control" name="pos" id="title" ng-model="$ctrl.newemployee.pos" placeholder="POS" ng-required ="true">
              <span style="color:red" ng-if="myForm.pos.$error.required && $ctrl.submitted"> required.</span>
            </div>
          </div>
          <div class="col-sm-12"style="margin:12px">
            <div class="btn-group pull-right"style="margin:8px">
              <button type="button" class="btn btn-link" ui-sref="employees.new" >Discard</button>
              <!-- <button type="submit" classi="btn btn-primary" ng-click="$ctrl.addEmployee(myForm)">Save</button> -->
            </div>
          </div>
        </form >
      </div>
    </uib-tab>
    <uib-tab index="2" heading="Educational Details">
      <div class="col-sm-12 jumbotron">
        <!-- <h3>Educational Details:</h3> -->
        <form name="myForm">
          <div class="col-sm-12">
            <div class="col-sm-2">
              <label><input type="checkbox"id="info" ng-model="$ctrl.newemployee.tenth.tenth"  />Tenth/10th</label>
            </div>

            <div class="col-sm-4">
              <label for="Insname"id="info"class="text-muted"><span class="required">Institute Name</span></label>
              <input type="text" ng-disabled="!$ctrl.newemployee.tenth.tenth" class="form-control" name="Insname" id="title" ng-model="$ctrl.newemployee.Insname" placeholder="Institute" ng-required ="true">
              <span style="color:red" ng-if="myForm.Insname.$error.required && $ctrl.submitted"> required.</span>
            </div>
            <div class="col-sm-2">
              <label for="tenthpassedout"id="info"class="text-muted"><span class="required">Year of passing</span></label>
              <input type="date" ng-disabled="!$ctrl.newemployee.tenth.tenth" class="form-control" name="tenthpassedout" id="title" ng-model="$ctrl.newemployee.tenthpassedout" placeholder="year of passing" ng-required ="true">
              <span style="color:red" ng-if="myForm.tenthpassedout.$error.required && $ctrl.submitted"> required.</span>
            </div>
            <div class="col-sm-4">
              <label for="tenthpercentage"id="info"class="text-muted"><span class="required">Tenth Percentage</span></label>
              <input type="number" ng-disabled="!$ctrl.newemployee.tenth.tenth" class="form-control" name="tenthpercentage" id="title" ng-model="$ctrl.newemployee.tenthpercentage" placeholder="Percentage" ng-required ="true">
              <span style="color:red" ng-if="myForm.tenthpercentage.$error.required && $ctrl.submitted">percentage required.</span>
            </div>
          </div>

          <div class="col-sm-12">
            <div class="col-sm-2">
              <label><input type="checkbox"id="info" ng-model="$ctrl.newemployee.intermediate.intermediate" value="intermediate" />Intermediate/12th</label>
            </div>
            <div class="col-sm-2">
              <label for="Specialization"id="info"class="text-muted"><span class="required">Specialization</span></label>
              <input type="text" ng-disabled="!$ctrl.newemployee.intermediate.intermediate" class="form-control" name="Specialization" id="title" ng-model="$ctrl.newemployee.Specialization" placeholder="Specialization" ng-required ="true">
              <span style="color:red" ng-if="myForm.Specialization.$error.required && $ctrl.submitted"> required.</span>
            </div>
            <div class="col-sm-2">
              <label for="insname"id="info"class="text-muted"><span class="required">Institute Name</span></label>
              <input type="text" ng-disabled="!$ctrl.newemployee.intermediate.intermediate" class="form-control" name="insname" id="title" ng-model="$ctrl.newemployee.insname" placeholder="Institute" ng-required ="true">
              <span style="color:red" ng-if="myForm.insname.$error.required && $ctrl.submitted"> required.</span>
            </div>
            <div class="col-sm-2">
              <label for="Interpassedout"id="info"class="text-muted"><span class="required">Year of passing</span></label>
              <input type="date" ng-disabled="!$ctrl.newemployee.intermediate.intermediate"class="form-control" name="Interpassedout" id="title" ng-model="$ctrl.newemployee.Interpassedout" placeholder="year of passing">
              <span style="color:red" ng-if="myForm.Interpassedout.$error.required && $ctrl.submitted">required.</span>
            </div>
            <div class="col-sm-4">
              <label for="Intermediatepercentage"id="info"class="text-muted"><span class="required">Intermediate Percentage</span></label>
              <input type="number"ng-disabled="!$ctrl.newemployee.intermediate.intermediate" class="form-control" name="Intermediatepercentage" id="title" ng-model="$ctrl.newemployee.Intermediatepercentage" placeholder="Percentage" ng-required ="true">
              <span style="color:red" ng-if="myForm.Intermediatepercentage.$error.required && $ctrl.submitted">percentage required.</span>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="col-sm-2">
              <label><input type="checkbox" id="info" ng-model="$ctrl.newemployee.graduation.graduation" value="graduation" />Graduation</label>
            </div>
            <div class="col-sm-2">
              <label for="gradspeci"id="info"class="text-muted"><span class="required">Specialization</span></label>
              <input type="text" ng-disabled="!$ctrl.newemployee.graduation.graduation" class="form-control" name="gradspeci" id="title" ng-model="$ctrl.newemployee.gradspeci" placeholder="Specialization" ng-required ="true">
              <span style="color:red" ng-if="myForm.gradspeci.$error.required && $ctrl.submitted"> required.</span>
            </div>
            <div class="col-sm-2">
              <label for="Uniname"id="info"class="text-muted"><span class="required">Institute Name</span></label>
              <input type="text" ng-disabled="!$ctrl.newemployee.graduation.graduation" class="form-control" name="Uniname" id="title" ng-model="$ctrl.newemployee.Uniname" placeholder="Institute" ng-required ="true">
              <span style="color:red" ng-if="myForm.Uniname.$error.required && $ctrl.submitted"> required.</span>
            </div>
            <div class="col-sm-2">
              <label for="graduation"id="info"class="text-muted"><span class="required">From</span></label>
              <input type="date" ng-disabled="!$ctrl.newemployee.graduation.graduation"class="form-control" name="From" id="title" ng-model="$ctrl.newemployee.From" placeholder="year of passing" ng-required ="true">
              <span style="color:red" ng-if="myForm.From.$error.required && $ctrl.submitted">required.</span>
            </div>
            <div class="col-sm-2">
              <label for="graduation"id="info"class="text-muted"><span class="required">To</span></label>
              <input type="date" ng-disabled="!$ctrl.newemployee.graduation.graduation"class="form-control" name="To" id="title" ng-model="$ctrl.newemployee.To" placeholder="year of passing" ng-required ="true">
              <span style="color:red" ng-if="myForm.To.$error.required && $ctrl.submitted">required.</span>
            </div>
            <div class="col-sm-2">
              <label for="graduation"id="info"class="text-muted"><span class="required"> Percentage</span></label>
              <input type="number"ng-disabled="!$ctrl.newemployee.graduation.graduation" class="form-control" name="graduationpercentage" id="title" ng-model="$ctrl.newemployee.graduationpercentage" placeholder="Percentage" ng-required ="true">
              <span style="color:red" ng-if="myForm.graduationpercentage.$error.required && $ctrl.submitted">percentage required.</span>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="col-sm-2">
              <label><input type="checkbox"id="info" ng-model="$ctrl.newemployee.postgraduation.postgraduation" value="postgraduation" />postgraduation</label>
            </div>
            <div class="col-sm-2">
              <label for="postgraduation"id="info"class="text-muted">Specialization</label>
              <input type="text" ng-disabled="!$ctrl.newemployee.postgraduation.postgraduation" class="form-control" name="postspeci" id="title" ng-model="$ctrl.newemployee.postspeci" placeholder="Specialization" >

            </div>
            <div class="col-sm-2">
              <label for="postgraduation"id="info"class="text-muted">Institute Name</label>
              <input type="text" ng-disabled="!$ctrl.newemployee.postgraduation.postgraduation" class="form-control" name="uniname" id="title" ng-model="$ctrl.newemployee.uniname" placeholder="Institute">

            </div>
            <div class="col-sm-2">
              <label for="postgraduation"id="info"class="text-muted">From</label>
              <input type="date" ng-disabled="!$ctrl.newemployee.postgraduation.postgraduation"class="form-control" name="pgfrom" id="title" ng-model="$ctrl.newemployee.pgfrom" placeholder="year of passing">

            </div>
            <div class="col-sm-2">
              <label for="postgraduation"id="info"class="text-muted">To</label>
              <input type="date" ng-disabled="!$ctrl.newemployee.postgraduation.postgraduation"class="form-control" name="pgto" id="title" ng-model="$ctrl.newemployee.pgto" placeholder="year of passing">

            </div>
            <div class="col-sm-2">
              <label for="postgraduation"id="info"class="text-muted"> Percentage</label>
              <input type="number" ng-disabled="!$ctrl.newemployee.postgraduation.postgraduation"class="form-control" name="postgraduationpercentage" id="title" ng-model="$ctrl.newemployee.postgraduationpercentage" placeholder="Percentage">

            </div>
          </div>
          <div class="col-sm-12">
            <div class="col-sm-2">
              <label><input type="checkbox"id="info" ng-model="$ctrl.newemployee.pHD.pHD" value="pHD" />pHD</label>
            </div>
            <div class="col-sm-2">
              <label for="pHD"id="info"class="text-muted">Specialization</label>
              <input type="text" ng-disabled="!$ctrl.newemployee.pHD.pHD" class="form-control" name="pHDspec" id="title" ng-model="$ctrl.newemployee.pHDspec" placeholder="Specialization">

            </div>
            <div class="col-sm-2">
              <label for="pHD"id="info"class="text-muted">University Name</label>
              <input type="text" ng-disabled="!$ctrl.newemployee.pHD.pHD" class="form-control" name="universityname" id="title" ng-model="$ctrl.newemployee.universityname" placeholder="Institute">
            </div>
            <div class="col-sm-2">
              <label for="pHD"id="info"class="text-muted">From</label>
              <input type="date" ng-disabled="!$ctrl.newemployee.pHD.pHD"class="form-control" name="pHDfrom" id="title" ng-model="$ctrl.newemployee.pHDfrom" placeholder="From">
            </div>
            <div class="col-sm-2">
              <label for="pHD"id="info"class="text-muted">To</label>
              <input type="date" ng-disabled="!$ctrl.newemployee.pHD.pHD"class="form-control" name="pHDto" id="title" ng-model="$ctrl.newemployee.pHDto" placeholder="to">

            </div>
            <div class="col-sm-2">
              <label for="pHD"id="info"class="text-muted"> Percentage</label>
              <input type="number" ng-disabled="!$ctrl.newemployee.pHD.pHD"class="form-control" name="pHDpercentage" id="title" ng-model="$ctrl.newemployee.pHDpercentage" placeholder="Percentage">
            </div>
          </div>
          <div class="col-sm-12">
            <label for="gap" id="info"class="text-muted"><span class="required">Any Educational Gap:</span></label></br>
            <label><input type="radio" ng-model="$ctrl.newemployee.gap" value="true" />Yes</label>
            <label><input type="radio" ng-model="$ctrl.newemployee.gap" value="false" />No</label>
            <span style="color:red" ng-if="myForm.gap.$error.required && $ctrl.submitted">required.</span>
          </div>
          <div class="col-sm-6" ng-if="$ctrl.newemployee.gap=='Yes'">
            <label for="gap" id="info"class="text-muted"> How many years</label>
            <input type="text" class="form-control" name="Howmanyyears" ng-model="$ctrl.newemployee.Howmanyyears" placeholder="How many years">
          </div>
          <div class="col-sm-12"style="margin:12px">
            <div class="btn-group pull-right"style="margin:8px">
              <button type="button" class="btn btn-link" ui-sref="employees.new" >Discard</button>
              <!-- <button type="submit" classi="btn btn-primary" ng-click="$ctrl.addEmployee(myForm)">Save</button> -->
            </div>
          </div>
        </form>
      </div></uib-tab>
      <uib-tab index="3" heading="Work History">
        <div class="col-sm-12 jumbotron">
          <!-- <h3>Work History:</h3> -->
          <form name="myForm">

            <div class="col-sm-6">
              <label for="title"id="info"class="text-muted">Years of Experience: </label>
              <input type="Experience"  class="form-control" name="Experience" id="title" ng-model="$ctrl.newemployee.Experience" placeholder="Experience">
            </div>
            <div class="col-sm-6">
              <label for="Fresher" id="info"class="text-muted">Fresher:</label></br>
              <label><input type="radio" ng-model="$ctrl.newemployee.Fresher" value="true" />Yes</label>
              <label><input type="radio" ng-model="$ctrl.newemployee.Fresher" value="false" />No</label>
              <!-- <span style="color:red" ng-if="myForm.Fresher.$error.required && $ctrl.submitted">required.</span> -->
            </div>

            <div class="col-sm-12">
              <div class="col-sm-12">
                <label for="Company"id="info"class="text-muted">Company Name</label>
                <input type="text" class="form-control"ng-disabled="!$ctrl.newemployee.Experience" name="companyname" id="title" ng-model="$ctrl.newemployee.companyname" placeholder="CompanyName" >

              </div>
              <div class="col-sm-6">
                <label for="From"id="info"class="text-muted">From Date</label>
                <input type="date" class="form-control" ng-disabled="!$ctrl.newemployee.Experience"name="Fromdate" id="title" ng-model="$ctrl.newemployee.Fromdate" placeholder="joining year" >

              </div>
              <div class="col-sm-6">
                <label for="To"id="info"class="text-muted">To Date</label>
                <input type="date" class="form-control"ng-disabled="!$ctrl.newemployee.Experience" name="Todate" id="title" ng-model="$ctrl.newemployee.Todate" placeholder="leavingyear">

              </div>
            </div>
            <div class="col-sm-6">
              <label for="designations"id="info"class="text-muted">Designation</label>
              <ui-select name="designations" ng-model="$ctrl.newemployee.designations" theme="bootstrap">
                <ui-select-match placeholder="Select or search">{{$select.selected}}</ui-select-match>
                <ui-select-choices repeat="designations in $ctrl.designation | filter: $select.search">
                  <div ng-bind-html="designations | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>

            </div>

            <div class="col-sm-12"style="margin:12px">
              <div class="btn-group pull-right"style="margin:8px">
                <button type="button" class="btn btn-link" ui-sref="employees.list" >Discard</button>
                <button type="submit" class="btn btn-primary" ng-click="$ctrl.updateEmployee(myForm, $resolve.employee)">Save</button>
                <!-- <button type="submit" class="btn btn-primary" ng-click="$ctrl.addEmployee(myForm)">Submit</button> -->
              </div>
            </div>
          </form>

        </uib-tab>
      </uib-tabset>
    </div>
