<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <h1> Addresses <span class="badge"> {{$ctrl.addresses.length}}</span></h1>
    </div>
    <div class="col-sm-6">
      <h1 class="text-right"><button class="btn btn-link" ui-sref="addresses.new"><i class="fa fa-plus fa-lg text-primary"></i></button></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3" ng-repeat="address in $ctrl.addresses">
      <div class=" panel panel-default">
        <div class="text-center panel-heading" >
          <h3 class="text-capitalize text-primary">{{address.name}}</h3>
        </div>
        <div class="text-center panel-body">
          <p class="lead">{{address.mobilenumber}}</p>
          <p class="lead">{{address.address}}</p>
          <p class="lead">{{address.city}}</p>
        </div>
        <div class="text-center panel-footer">
          <a class="btn btn-link " ui-sref="addresses.info({addressId:  address._id})"  uib-tooltip="{{addresses.name}}">Info</a>
        </div>
        </div>
      </div>
    </div>
  </div>


<div class="container-fluid" ng-if="!$ctrl.clients.length">
  <div class="row text-center">
    <h1 class="text-warning">Ooops!</h1>
    <p class="text-muted lead">No data to display.</h1>
  </div>
</div>
