<div class="container-fluid">
  <div class="col-sm-12">
    <h1> Hey <strong class="text-capitalize">{{$ctrl.getCurrentUser().name}}</strong>! <br><small>{{$ctrl.message}}</small></h1>
  </div>

<div class="col-sm-12 jumbotron">
  <form name="myForm">
    <div class="col-sm-6">
      <label for="name" style="padding-top:8px"><span class="required">Customer Name</span></label>
      <input type="text" class="form-control" name="name" id="name" ng-model="$ctrl.newaddress.name" placeholder="Name of the client here." ng-required ="true">
      <span style="color:red" ng-if="myForm.name.$error.required && $ctrl.submitted">Customer Name is required.</span>
    </div>
    <div class="col-sm-6">
      <label for="mobilenumber" style="padding-top:8px"><span class="required">Mobile Number</span></label>
      <input type="number" class="form-control" id="mobilenumber" name="mobilenumber" ng-model="$ctrl.newaddress.mobilenumber" placeholder="Mobile Number" ng-required ="true">
      <span style="color:red" ng-if="myForm.mobilenumber.$error.required && $ctrl.submitted">Mobile Number is required </span>
    </div>
    <div class="col-sm-6">
      <label for="pincode" style="padding-top:8px"><span class="required">Pincode</span></label>
      <input type="number" class="form-control"name="pincode"  id="pincode" ng-model="$ctrl.newaddress.pincode" placeholder="pincode" ng-required ="true" ng-maxlength="5">
      <span style="color:red" ng-if="myForm.pincode.$error.required && $ctrl.submitted">pincode</span>
      <span style="color:red" ng-if="myForm.pincode.$error.maxlength">please a valid pincode.</span>
    </div>
    <div class="col-sm-6">
      <label for="locality" style="padding-top:8px"><span class="required">Locality</span></label>
      <input type="text" class="form-control"  name="locality"id="locality" ng-model="$ctrl.newaddress.locality" placeholder="Select Locality" ng-required ="true">
      <span style="color:red" ng-if="myForm.locality.$error.required && $ctrl.submitted">Locality is required.</span>
    </div>
    <div class="col-sm-12">
      <label for="address" style="padding-top:8px"><span class="required">Address</span></label>
      <ng-quill-editor  id="address" name="address"ng-model="$ctrl.newaddress.address" placeholder="Enter address">
        <div class="ql-toolbar ql-snow"></div>
      </ng-quill-editor>
      <span style="color:red" ng-if="myForm.address.$error.required && $ctrl.submitted">Maximus charecters upto 350.</span>
    </div>
    <div class="col-sm-6">
      <label for="city" style="padding-top:8px"><span class="required">City</span></label>
      <input type="text" class="form-control"  name="city"id="city" ng-model="$ctrl.newaddress.city" placeholder="Select City" ng-required ="true">
      <span style="color:red" ng-if="myForm.city.$error.required && $ctrl.submitted">Locality is required.</span>
    </div>

    <div class="col-sm-6">
      <label for="landmark" style="padding-top:8px"><span class="required">Landmark</span></label>
      <input type="text" class="form-control"  name="landmark"id="landmark" ng-model="$ctrl.newaddress.landmark" placeholder="Select Landmark" ng-required ="true">
      <span style="color:red" ng-if="myForm.landmark.$error.required && $ctrl.submitted">Locality is required.</span>
    </div>
    <div class="col-sm-6">
      <label for="state" style="padding-top:8px"><span class="required">State</span></label>
      <ui-select  name="state"ng-model="$ctrl.newaddress.state" theme="bootstrap" ng-required="true">
        <ui-select-match placeholder="Select or search a state in the list...">{{$select.selected}}</ui-select-match>
        <ui-select-choices repeat="state in $ctrl.states | filter: $select.search">
          <div ng-bind-html="state | highlight: $select.search"></div>
        </ui-select-choices>
      </ui-select>
      <span style="color:red" ng-if="myForm.state.$error.required && $ctrl.submitted">State is required</span>
    </div>
     <div class="col-sm-6">
        <label for="alternatenumber" style="padding-top:8px"><span class="required">Alternatenumber</span></label>
        <input type="text" class="form-control"  name="alternatenumber"id="alternatenumber" ng-model="$ctrl.newaddress.alternatenumber" placeholder="Select Alternatenumber" ng-required ="true">
        <span style="color:red" ng-if="myForm.alternatenumber.$error.required && $ctrl.submitted">Locality is required.</span>
      </div>
    <div class="col-sm-12">
      <div class="btn-group pull-right"style="margin:20px">
        <button type="button" class="btn btn-default" ui-sref="clients.list" >Discard</button>
        <button type="submit" class="btn btn-primary" ng-click="$ctrl.addaddress(myForm)">Save</button>
      </div>
    </div>
  </form>
</div>

</div>
