<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <h1> buses <span class="badge"> {{$ctrl.buses.length}}</span></h1>
    </div>
    <div class="col-sm-6">
      <h1 class="text-right"><button class="btn btn-link" ui-sref="buses.new"><i class="fa fa-plus fa-lg text-primary"></i></button></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4" ng-repeat="bus in $ctrl.buses">
      <div class=" panel panel-default">
        <div class="text-center panel-body">
          <h3 class="text-capitalize text-primary">{{bus.busTitle}}</h3>
          <p class="lead">{{bus.busTitle}}</p>
          <p class="lead">{{bus.busType}}</p>
          <p class="lead">{{bus.rating}}</p>

          <!-- <p class="lead">{{bus.primaryemail}}</p>
          <p class="lead">{{bus.mobile}}</p> -->
          <a class=" panel-footer btn btn-link" ui-sref="buses.info({busId:  bus._id})"  uib-tooltip="{{bus.name}}">Info</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" ng-if="!$ctrl.buses.length">
  <div class="row text-center">
    <h1 class="text-warning">Ooops!</h1>
    <p class="text-muted lead">No data to display.</p>
  </div>
</div>
