<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <h1 class="page-header" style="color:green;"> products-Info </h1>
    </div>
    <div class="col-sm-6">
      <h1 class="text-right"><button class="btn btn-link" ui-sref="products.new"><i class="fa fa-plus fa-lg text-primary"></i></button></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6" ng-repeat="product in $ctrl.products">
      <div class=" panel panel-default">
        <div class="text-center panel-heading" >
          <h3 class="text-capitalize text-primary">{{product.name}}&nbsp<i class="glyphicon glyphicon-share"></i></h3>
        </div>
        <div class="text-left  panel-body">
          <h4 class="text-muted">Description:</h4><p class="lead">{{product.description}}</p>
          <!-- <h4 class="text-muted">Description:</h4><p class="lead">{{product.description}}</p> -->
          <h4 class="text-muted">Quantity:</h4><p class="lead">{{product.quantity}}</p>
          <h4 class="text-muted">Model:</h4><p class="lead">{{product.model}}</p>
          <h4 class="text-muted">Size:</h4><p class="lead">{{product.size}}</p>
          <h4 class="text-muted">Price:</h4><p class="lead">{{product.price}}</p>
          <!-- <h4 class="text-muted">NoticePeriod:</h4><p class="lead">{{product.np}}</p>
          <h4 class="text-muted">No.Of.Vacancies:</h4><p class="lead">{{product.nov}}</p> -->
        </div>
        <div class="text-center panel-footer">
          <a class="btn btn-link " ui-sref="products.info({productId:  product._id})" uib-tooltip="{{products.name}}"><h4 style="font-size:30px">Info</h4></a>
        </div>
        <div class="col-sm-12">
        <button type="button" class="btn btn-success btn-md"style="margin:15px" ui-sref="products.new" >Apply</button>
      </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid" ng-if="!$ctrl.products.length">
    <div class="row text-center">
      <h1 class="text-warning">Ooops!</h1>
      <p class="text-muted lead">No data to display.</h1>
    </div>
  </div>
